@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#masthead {
  background-color:#FF7800;

}
.title {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;

}

#nameplate {
  display: flex;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  text-align: center;
}

#subtitle {
  text-align: center;
  font-style: oblique; 
  font-size: 1em; 
}

.cp-logo-left {
  height: 15vh;
  display: flex;
  margin-left: 15px;
}
.cp-logo-right {
  height: 15vh;
  display: flex;
  margin-right: 15px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Playfair Display', serif;
  font-size: .75em;
  font-weight: 900;
  
  background-color: #CCe699;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.navigation h3 {
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: start;

  background-color:#ebf5d6;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 15px;
}

.stitch-pictures {
  max-width: 200px;
}

.bit {
  margin-top: 2em;
  margin: .5em .5em .5em 0;
  display: block;
  overflow: auto; 
}

.bit p {
  margin-left: .5em;
}

.bit-name {
  padding: 3px;
}


#portrait {
  float: left;
  margin: 10px;
}
 
#cone {
  float: right;
  margin: 5px;
}

#toy {
  float: right;
  margin: 5px;
}

#splayed {
  float: left;
  margin: 5px;
}

figure {
  border: 3px #FF7800 solid;
  display: flex;
  flex-flow: column;
  max-width: 200px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

aside {
  float: right;
}

.fun-facts {
  border: 3px solid purple;
  padding: 5px;
  margin: 3px;
}

details > p {
  border-radius: 0 10px 0 10px;
  background-color: #cce699;
  margin-bottom: 5px;
  border: 1px solid orange;
}

.fun-facts details {
  margin-top: 10px;
}

.fun-facts details:hover {
  border: 1px dotted orange;
}

.fun-facts details:focus {
  padding: 2em;
}

.fun-facts summary {
  padding: 5px;
}

.fun-facts summary:hover {
  background-color:#CCe699;
}


