@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#masthead {
  background-color:#FF7800;

}
.title {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;

}

#nameplate {
  display: flex;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  text-align: center;
}

#subtitle {
  text-align: center;
  font-style: oblique; 
  font-size: 1em; 
}

.cp-logo-left {
  height: 15vh;
  display: flex;
  margin-left: 15px;
}
.cp-logo-right {
  height: 15vh;
  display: flex;
  margin-right: 15px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

  font-family: 'Playfair Display', serif;
  font-size: .75em;
  font-weight: 900;
  
  background-color: #FF9600;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.navigation h3 {
  font-size: 1em;
}

#laborious-stitch {
  // display: flex;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 15px;
}

.stitch-pictures {
  max-width: 200px;
}

#portrait {
  display: inline-block;
}

figure {
  border: thin #c0c0c0 solid;
  // display: flex;
  // flex-flow: column;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}

// img {
//   max-width: 220px;
//   max-height: 150px;
// }

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.fun-facts {
  border: 1px solid purple;
}

//span class="menu"

// .menu {
//   display: block
//   width: 5 rem
//   height: .5 rem;
//   backgound-dolor: black
// }

// .menu::active {

// }

// .menu::before {
//   content: ''';
//   display: block;
//   position: relative  //relative to its own space absolute is to nearest relative parent
//   top: -1rem
//   margin-bottom: 1rem
//   width: 5 rem
//   height.5rem;
//   background-color: black
// }
